{% extends 'base.html' %}
{% load static %}

{% block title %}Your Profile{% endblock title %}

{% block content %}
<header>
    <a href="{% url 'dashboard' %}">Dashboard</a>
</header>
    <h1>Your Profile</h1>

    Preferred Name: {{ user.user_profile.username }} <br>
    First Name: {{ user.first_name }} <br>
    Last Name: {{ user.last_name }} <br>

    <br>
    <div>
        <a href="{% url 'update_profile' %}">
            <button class="btn btn-primary">
                Update Your Profile
            </button>
        </a>
    </div>
{% endblock content %}