{% load static %}
{% load crispy_forms_tags %}

	<div class="collapse" id="navbarHeader">
	  <div class="container">
		<div class="row">
		  <div class="col-md-6">
			<!-- <h4 class="text-white">the Writers League</h4>
			<p class="text-muted">... is a global writing competition</p> -->
		  </div>
		  <div class="col-sm-6">
		 {% if user.is_authenticated %}
			<h4 class="text-white">
				{% if user.is_authenticated %}
					Hi, {{ user.username }}
				{% elif user.email == "admin@writersleague.com" %}
					Hi Admin,
				{% else %}
					Hi, Anonymous User. 
					<br><small><a href="/account/update/">Update profile ?</a></small>
				{% endif %}
			</h4>
			<ul class="list-unstyled">
			  <li><a class='text-muted' href='{% url "user:dashboard" %}'>Dashboard</a></li>
			  <li><a class='text-muted' href='{% url "user:account_details" %}'>Account</a></li>
		
			  <li><a class='text-muted' href='{% url "user:logout" %}'>Log Out</a></li>
			</ul>
			{% else %}
				{% if request.path == '/' %}
				<div class="homepage-login-form">
					<form action="{% url 'account_login' %}" method="POST">
						{{ login_form|crispy }}
						{% csrf_token %}
						<input type="hidden" name="next" value="{{ next }}" />
						<p>
							<input class="btn btn-primary" type="submit" value="Login">
						</p>
					</form>
					<p>
						<small>
							<a href="{% url 'user:password_reset' %}">Forgot password?</a>
						</small>
						<small>
							<a href='{% url "account_signup" %}' class='ml-5'>Sign up</a>
						</small>
					</p>

						

				{% else %}
				<form class='form-inline ml-auto'>
					<a href='{% url "account_login" %}' class='ml-2'>Login</a>
					<a href='{% url "account_signup" %}' class='ml-2'>Sign up</a>
				</form>
				{% endif %}
				
			  
			</div>

		 {% endif %}
		  </div>
		</div>
	  </div>
	</div>
	<div class="navbar navbar-light">
	  <div class="container d-flex justify-content-between">
		<a href="{% url 'story:story_list' %}" class="navbar-brand d-flex align-items-center">
			<img src="{% static 'images/logo.png' %}" alt="logo">
		</a>
		<a href="{% url 'story:story_list' %}" class="navbar-brand d-flex align-items-center">
			Merch
		</a>
		<a href="{% url 'story:story_list' %}" class="navbar-brand d-flex align-items-center">
			Comps
		</a>
		<a href="{% url 'story:story_list' %}" class="navbar-brand d-flex align-items-center">
			About
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
			<span class="line"></span> 
			<span class="line"></span> 
			<span class="line"></span>
		</button>
	  </div>
	</div>
	<div class="row">
		<div class="col-md-8 offset-2">
		  {% if messages %}
		  <ul class="messages">
			  {% for message in messages %}
			  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			  {% endfor %}
		  </ul>
		  {% endif %}
		</div>
	  </div>
 
