{% extends 'user/dashboard/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Create Story {% endblock title %}

{% block content %}
<div class="container col-md-9 offset-1 m-3">
	<div class="row m-3" id="competition-topbar">
			<div class="left">
				Word Count<span id="word-count"></span> 
			</div>
			<div class="right">
                Time Remaining
                 <span id="time-remaining">
                     <span id="days">

                     </span>
                     <span id="hours">

                     </span>
                     <span id="minutes">

                     </span>
                     <span id="seconds">
                         
                     </span>
                 </span>
			</div>
    </div>
    <div class="row m-3" style="width: 100%;">
        <h1 style="width: 100%;">Add a new story here</h1>
        <form method='POST' style="width: 100%;">
            {% csrf_token %}
            {{form.media}}
            <div class="row" style="width: 100%;">
                <div class="col-12" style="width: 100%;">
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="col-12" style="width: 100%;">
                    {{ form.content|as_crispy_field }}
                </div>
                {{ form.genre|as_crispy_field }}
            </div>
            <input type='submit' value="Let's go!">
        </form>
    </div>
</div>

{% endblock content %}