{% extends 'user/dashboard/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Delete Story {% endblock title %}

{% block content %}
<div class="container-fluid m-3">
    <div class="row">
        <div class="col-md-10 offset-1">
            <h2>Are you sure you want to delete all this good work?</h2>
            <form method='POST'>
                    <div class="col-12">
                        {% csrf_token %}
                        {{form|crispy}}
                    </div>
                <input type='submit' value="Let's go!">
            </form>
        </div>
    </div>
</div>

{% endblock content %}