{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-1">
            Someone asked for password reset for email {{ email }}. Follow the
            link below:
            {{ protocol }}://{{ domain }}{% url "password_reset_confirm"
            uidb64=uid token=token %}
            <!-- Your username, in case you've forgotten: {{ user.get_username }} -->
        </div>
    </div>
</div>
{% endblock content %}