{% extends 'base.html' %}
{% load static %}

{% block title %}Update your Account details{% endblock title %}

{% block content %}
    <header>
        <a href="{% url 'dashboard' %}">Dashboard</a>
    </header>
    <h2>Your Account Details:</h2>
    Username: {{ user.username }} <br>
    Email: {{ user.email }}       <br>
    Type: {{ user.user_type }}    <br>
    Status: {{ user.status }}     <br>

    <br>
    <div>
        <a href="{% url 'update_account' %}">
            <button class="btn btn-primary">
                Update Your Account Details
            </button>
        </a>
    </div>

{% endblock content %}