{% load static %}

<nav class="navbar navbar-expand-lg dashboard-nav">
	<div class="container-fluid">
		<button type="button" id="sidebarCollapse" class="btn btn-toggle dashboard-nav-link">
			<i class="fas fa-long-arrow-alt-left"></i>
		</button>
		<a href="{% url 'pages:home' %}">
			<img src="{% static 'images/logo.png' %}" alt="logo">
		</a>
		<div class="pull-right">
			{% if user.is_authenticated %}
				{% if user.username %}
					Hi, {{ user.username }}
				{% endif %}
			{% endif %}
		</div>
	</div>
</nav>




 
