{% load static %}

<nav id="sidebar">
  <ul class="list-unstyled components">
    {% if user.user_type == 1 %}
    <li>
        <a class="dashboard-nav-link" href="{% url 'story:story_create' %}">Create</a>
    </li>
    {% endif %}
    <li class="active">
        <a class="dashboard-nav-link" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a href="#">Home 1</a>
            </li>
            <li>
                <a href="#">Home 2</a>
            </li>
            <li>
                <a href="#">Home 3</a>
            </li>
        </ul> -->
    </li>
    <li>
        <a class="dashboard-nav-link" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Stats</a>
     
    </li>
    <li>
        <a class="dashboard-nav-link" href="#">Marketplace</a>
    </li>
    <li>
        <a class="dashboard-nav-link" href="#">Account</a>
    </li>
</ul>
</nav>
