{% load static %}

<nav id="sidebar">
  <ul class="list-unstyled components">
    {% if user.user_type == 1 %}
    <li>
        <a class="dashboard-nav-link" href="{% url 'story:story_create' %}">
            <i class="fa fa-feather"></i>
        </a>
    </li>
    {% endif %}
    <li class="active">
        <a class="dashboard-nav-link" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fa fa-home"></i>
        </a>

    </li>
    <li>
        <a class="dashboard-nav-link" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-chart-line"></i>
        </a>
        <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a href="#">Content</a>
            </li>
            <li>
                <a href="#">Votes</a>
            </li>
            <li>
                <a href="#">Sales</a>
            </li>
        </ul> -->
     
    </li>
    <li>
        <a class="dashboard-nav-link" href="#">
            <i class="fas fa-book"></i>
        </a>
    </li>
    <li>
        <a class="dashboard-nav-link" href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-user-circle"></i>
        </a>
        <ul class="collapse list-unstyled" id="accountSubmenu">
            <li>
                <a href="{% url 'account_logout' %}">Logout</a>
            </li>

        </ul>
    </li>
</ul>
</nav>
