{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Password Change Form {% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-1">
            <h1>Change your password</h1>
            <form method="POST">
                {{ form|crispy }}
                {% csrf_token %}
                <input class="btn btn-warning" type="submit" value="Change Password">
            </form>
        </div>
    </div>
</div>
{% endblock content %}