{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="home-background">
        
        <a class="btn btn-success btn-lg pull-right" href="#" role="button">
            <button class="btn btn-success">
                Join
            </button>
        </a>
    </div>
</div>
<div class="container">
    <h2 class="text-center">Top 10 stories</h2>
    <div class="container">
        {% for story in stories %}
            {{ story.title }}
        {% endfor %}
    </div>
</div>
<div class="container">
    <h2 class="text-center">
        Current Prize Pool
    </h2>
</div>
<div class="container">
    <h2 class="text-center">
        Footer
    </h2>
</div>
{% endblock content %}