.navbar-inverse {
    background-color: #fff;
}

.home-background {
    background: url('../images/home-background.png') center center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}

.section-heading {
    text-align: center;
}

.btn-join {
    color: #fff;
    background-color: #00006f;
}

label[for="id_votes"] {
    display: none;
}

input#id_votes {
    display: none;
}

.upvote-btn, .downvote-btn {
    background-color: transparent;
    border: 0;
    color: #009688;
}

.vote-count {
    padding-bottom: 15px;
}