.navbar-inverse {
    background-color: #fff;
}

.home-background {
    background: url('../images/home-background.png') center center fixed no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 567px;
}

.section-heading {
    text-align: center;
}

.btn-join {
    color: #fff;
    background-color: #33b5e5;
}