.home-background {
    background-image: url('../images/home-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 464px;
}