@font-face {
    font-family: "Sawasdee";
    src: url("../fonts/Sawasdee.ttf");
}

/* EBE9EB - Gray
ecdfce - light brown / yellow
#64492C - dark brown

63632C green
632D2C red */




.navbar-inverse {
    background-color: #ecdfce;
}

.dashboard-nav-link, .dashboard-toggle {
    color: #632D2C;
    right: 15px;
}

.btn-toggle {
    color:rgba(99, 45, 44, 1);
}

.btn-toggle:hover, .btn-toggle:focus {
    background: #63632C;
}

body {
    font-family: 'Sawasdee';
    background: #fffffa;
    color: rgba(99, 45, 44, 1);
}

p {
    font-family: 'Sawasdee';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.7em;
    color: #fff;
}

a, a:hover, a:focus {
    color: #63632C;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #fffffa;
    color: #fff;
    transition: all 0.3s;
    min-width: 50px;
    max-width: 50px;
    min-height: 100vh;
    border-right: 1px solid #632D2C;
    z-index: 1000;
    position: fixed;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgba(99, 45, 44, 1);
    background: #63632C;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #63632C;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

.dashboard-nav {
    z-index: 10000;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -150px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#dashboard {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

div.text-center p {
    color: #212529;
}

.btn-create {
    color: #fff;
}


/* Story Create */

.btn-comp {
    background-color: #00a000;
    color: #fff;
    width: 100px;
    margin-right: 50px;
    border-radius: 3px;
}

#competition-topbar {
    display: none;
    height: 50px;
}

/* End Story Create */


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .btn-toggle {
        left: 5px;
    }
}