@font-face {
    font-family: "Vin Mono Pro Light";
    src: url("../fonts/opentype/Vin Mono Pro Light/VinMonoPro-Light.otf");
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.navbar-inverse {
    background-color: #fff;
}

.dashboard-nav-link {
    color: #fff;
}

.btn-toggle {
    color: #000;
}

body {
    font-family: 'Josefin Slab', serif;
    background: #fafafa;
}

p {
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.7em;
    color: #fff;
}

a, a:hover, a:focus {
    color: #777;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #000;
    color: #fff;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #00a000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgba(99, 45, 44, 1);
    background: #777;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #777;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #00a000;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#dashboard {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

div.text-center p {
    color: #212529;
}

.btn-create {
    color: #fff;
}


/* Story Create */

.btn-comp {
    background-color: #00a000;
    color: #fff;
    width: 100px;
    margin-right: 50px;
    border-radius: 3px;
}

#competition-topbar {
    display: none;
    height: 50px;
}

/* End Story Create */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}