{% load static %}

<div class="row d-flex flex-row justify-content-around">
        <div class="">
            <img src="{% static 'images/logo.png' %}" />
            <small class="d-block mb-3 text-muted">&copy; 2020</small>
        </div>
        <div class="">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Past Winners</a></li>
                <li><a class="text-muted" href="#">Current Top Authors</a></li>
                <li><a class="text-muted" href="#">Top Sponsors</a></li>
                <li><a class="text-muted" href="#">Popular Stories</a></li>
                <li><a class="text-muted" href="#">Another one</a></li>
            </ul>
        </div>
        <div class="">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Writing Tips</a></li>
                <li><a class="text-muted" href="#">User Guide</a></li>
                <li><a class="text-muted" href="#">Site Stats</a></li>
                <li><a class="text-muted" href="#">Inspirations</a></li>
            </ul>
        </div>
        <div class="">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Community</a></li>
                <li><a class="text-muted" href="#">Sponsors</a></li>
                <li><a class="text-muted" href="#">Participants</a></li>
                <li><a class="text-muted" href="#">Rules</a></li>
            </ul>
        </div>
        <div class="">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Competitions</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
