{% extends 'base.html' %}
{% load static %}

{% block title %} Join {% endblock title %}

{% block content %}

<div class="d-flex container flex-row justify-content-around mt-5">
{% for plan in plans %}
  <div class="card-deck mb-3 text-center">
    <div class="p-2 card">
      <h4 class="d-flex justify-content-around align-items-center mb-3">
        <span class="text-muted">{{ plan.name }} </span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">'the Writers League'</h6>
            <small class="text-muted">{{ plan.name }}</small>
          </div>
          <span class="text-muted">${{ plan.price }}</span>
        </li>
       
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>${{plan.price}}</strong>
        </li>
      </ul>

      <!-- <form class="card p-2" action="{% url 'payments:checkout' %}" method="GET">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code" name="coupon">
          <input type="hidden" value="{{ plan }}" name="plan" />
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form> -->

      <div class="text-center pt-3">
      <form action="{% url 'payments:checkout' %}" method="POST">
        {% csrf_token %}
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{key}}"
          data-amount="{{stripe_price}}"
          data-name="'The Writers League'"
          data-description="{{ plan.name }} Plan - ${{ plan.price }}"
          data-email="{{ user }}"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
        <input type="hidden" value="{{ plan.name }}" name="plan" />
        <input type="hidden" value="{{ plan.coupon }}" name="coupon" />
      </form>
      </div>
    </div>
  </div>

{% endfor %}
</div>
      

{% endblock content %}