{% extends 'account/dashboard/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="wrapper">
  {% include 'account/dashboard/sidebar/nav.html' %}

  <div id="dashboard">
    {% if user.username == 'anon' %}
        Hi, it looks like you need to update your profile. <br>
        <a href="/account/update/">You can do so here.</a>
    {% else %}
        Hi {{user.username}}, welcome to your dashboard <br>
    {% endif %}
    


    {% if user.user_type == 1 %}
        You are an author
        {% include 'account/dashboard/author.html' %}
    {% else %}
        You are a voter
        {% include 'account/dashboard/voter.html' %}
    {% endif %}
  </div>
</div>


{% endblock content %}