{% extends 'dashboard-base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% include 'account/dashboard/sidebar.html' %}


                {% if user.username == 'anon' %}
                    Hi, it looks like you need to update your profile. <br>
                    <a href="/account/update/">You can do so here.</a>
                {% else %}
                    Hi {{user}}, welcome to your dashboard <br>
                {% endif %}
                
            
            
                {% if user.user_type == 1 %}
                    You are an author
                    {% include 'account/dashboard/author.html' %}
                {% else %}
                    You are a voter
                    {% include 'account/dashboard/voter.html' %}
                {% endif %}
                <br>
</div>
</div>

{% endblock content %}